
fastapi
uvicorn[standard]
pydantic
requests
python-dotenv
sqlalchemy
langchain
langchain-openai
langchain-community
langchain-chroma
chromadb-client
langchain-text-splitters
hanzidentifier
tabulate
psycopg2-binary
